<div class="mat-elevation-z8">
  <table mat-table class="data-table" matSort aria-label="Elements">

    <ng-container matColumnDef="homeTeam">
      <th mat-header-cell *matHeaderCellDef="let displayedColumns">Tenis | ATP Umag</th>
      <td mat-cell class="teamName" *matCellDef="let row">{{row.homeTeam}}</td>
    </ng-container>

    <ng-container matColumnDef="awayTeam">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell class="teamName" *matCellDef="let row">{{row.awayTeam}}</td>
    </ng-container>

    <ng-container matColumnDef="homeWin">
      <th mat-header-cell *matHeaderCellDef>1</th>
      <td mat-cell class="odds" *matCellDef="let row" (click)="betHomeWin(row)">{{row.homeWin | number : '.2-2'}}</td>
    </ng-container>

    <ng-container matColumnDef="awayWin">
      <th mat-header-cell *matHeaderCellDef>2</th>
      <td mat-cell class="odds" *matCellDef="let row" (click)="betAwayWin(row)">{{row.awayWin | number : '.2-2'}}</td>
    </ng-container> 

    <ng-container matColumnDef="matchDateTime">
      <th mat-header-cell *matHeaderCellDef>datum</th>
      <td mat-cell class="matchDate"*matCellDef="let row">{{row.matchDateTime}}</td>
    </ng-container> 

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator #paginator
      [length]="dataSource?.data?.length"
      [pageIndex]="0"
      [pageSize]="10"
      [pageSizeOptions]="[5, 10, 20]"
      aria-label="Select page">
  </mat-paginator>
</div>