/* regular style toast*/
@import '~ngx-toastr/toastr';

/* You can add global styles to this file, and also import other style files */
body, html {
    padding:0;
    margin:0;
}

html, body { 
    height: 100%; 
}

body {
    margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif; 
    background-color: #D4D5D6;
}

.mat-sort-header-container { 
    place-content: center;
}

.mat-paginator {
    display: none !important;
}

a {
    text-decoration: none;
}

a:visited {
    text-decoration: none; color:black; 
}

a:hover { 
    text-decoration: none; color:rgb(101, 101, 158); 
}

a:focus { 
    text-decoration: none; color:black 
}

a:hover, a:active { 
    text-decoration: none; color:black 
}

.mat-cell:empty:after {
    content: "-"; 
}