<app-header></app-header>
<main>
    <div class="row">
        <div class="left-row">
            <img class="ad-img" src="https://www.psk.hr/picture/original/636939a19c97504d04ea3251">
        </div>
        <div class="table">
            <app-special-offer></app-special-offer>
            <app-football-croatia></app-football-croatia>
            <app-football-england></app-football-england>
            <app-football-spain></app-football-spain>
            <app-football-italy></app-football-italy>
            <app-data-table></app-data-table>
        </div>
        <div class="ticket-container">
            <app-ticket-asset></app-ticket-asset>
        </div>
    </div>
</main>
