.mat-elevation-z8{
  width: 15%;
  margin: auto;
  float: right;
  margin-right: 14.4em;
}

.mat-table {
  background-color: #19457a;
  width: 100%;
}

.mat-cell {
  color: white;
  font-size: 12px;
  text-align: center;
}

.removeMatchButton{
  background: #19457a;
  border-style: none;
  cursor: pointer;
}

.removeBtnCell{
  padding-right: 15px !important;
}

.betAmount{
  width: 65% !important;
}

.winningAmount{
  color: white;
  display: table-row;
}

.oddsTotal{
  color: white;
}

.betAmountHeader{
  color: white;
}

.submitTicket{
  display: table-row;
  background-color: #19457a;
  color: #888ca0;
  border-color: #888ca0;
  border-style: solid;
  border-width: 1px;
  cursor: pointer;
}