.mat-elevation-z8 {
  width: 15%;
  margin: auto;
  float: right;
  margin-right: 13.4em;
}

.mat-table {
  background-color: #19457a;
  width: 100%;
}

.mat-table-top {
  margin-top: -23px;
}

.mat-cell {
  color: white;
  font-size: 12px;
  text-align: center;
}

.removeMatchButton {
  background: #19457a;
  border-style: none;
  cursor: pointer;
}

.removeBtnCell {
  padding-right: 15px !important;
}

.betAmount {
  width: 65% !important;
}

.winningAmount {
  color: white;
  display: inline-block;
}

.winningAmountCell {
  display: inline-block;
}

.oddsTotal {
  color: white;
  display: table;
}

.betAmountHeader {
  color: white;
}

.submitTicket {
  display: table-row;
  background-color: #19457a;
  color: #888ca0;
  border-color: #888ca0;
  border-style: solid;
  border-width: 1px;
  cursor: pointer;
  margin-left: 2em;
  margin-bottom: 3px;
}

.title-container {
  text-align: center;
  background-color: #19457a;
  color:white;
  height: 5px;
  margin-top: 18px;
}

.title {
  text-align: center;
  background-color: #19457a;
  color:white;
  height: 1px;
}

.oddsTotalCell {
  display: table;
}

@media only screen and (max-width: 1820px) {
  .mat-elevation-z8 {
    margin-right: 12.4em;
  }
}

@media only screen and (max-width: 1820px) {
  .mat-elevation-z8 {
    margin-right: 10.4em;
  }
}

@media only screen and (max-width: 1660px) {
  .mat-elevation-z8 {
    margin-right: 9.4em;
  }
}

@media only screen and (max-width: 1530px) {
  .mat-elevation-z8 {
    margin-right: 7.4em;
  }
}