<div class="mat-elevation-z8">
  <div class="title-container">
    <span class="title">LISTIĆ</span>
  </div>
  <table mat-table class="mat-table mat-table-top" matSort aria-label="Elements">

    <ng-container matColumnDef="homeTeam">
      <th mat-header-cell *matHeaderCellDef mat-sort-header></th>
      <td mat-cell *matCellDef="let row">{{row.homeTeam}}</td>
    </ng-container>

    <ng-container matColumnDef="dash">
      <th mat-header-cell *matHeaderCellDef mat-sort-header></th>
      <td mat-cell *matCellDef="let row">-</td>
    </ng-container>

    <ng-container matColumnDef="awayTeam">
      <th mat-header-cell *matHeaderCellDef mat-sort-header></th>
      <td mat-cell *matCellDef="let row">{{row.awayTeam}}</td>
    </ng-container>

    <ng-container matColumnDef="bet">
      <th mat-header-cell *matHeaderCellDef mat-sort-header></th>
      <td mat-cell *matCellDef="let row">{{row.bet }}</td>
    </ng-container>

    <ng-container matColumnDef="odd">
      <th mat-header-cell *matHeaderCellDef mat-sort-header></th>
      <td mat-cell *matCellDef="let row">{{row.odd | number : '.2-2'}}</td>
    </ng-container>

    <ng-container matColumnDef="removeMatch">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell class="removeBtnCell" *matCellDef="let row"><button class="removeMatchButton"color="warn"(click)="removeMatch(row)"><mat-icon>delete</mat-icon></button></td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  

  <table table class="mat-table" matSort aria-label="Elements">

    <ng-container matColumnDef="oddsTotal">
      <th class="oddsTotal" mat-header-cell mat-sort-header>Tečaj</th>
      <td mat-cell >{{ oddsTotal | number : '.2-2'}}</td>
    </ng-container>

    <ng-container matColumnDef="betAmount">
      <th class="betAmountHeader" mat-header-cell mat-sort-header>Uplata(kn)</th>
      <input matInput class="betAmount" placeholder="iznos" [(ngModel)]="betAmount" id="betAmount" name="betAmount">
    </ng-container>

    <ng-container matColumnDef="winningAmount">
      <th class="winningAmount" mat-header-cell mat-sort-header>Dobitak</th>
      <td mat-cell class="winningAmountCell">{{ winningAmount | number : '.2-2'}} kn</td>
    </ng-container>

    <ng-container matColumnDef="submitTicket">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell class="submitTicket"><button class="submitTicket" color="warn"(click)="submitTicket()">Uplati</button></td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="betColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: betColumns;"></tr>
  </table>

  <mat-paginator #paginator
      [length]="dataSource?.data?.length"
      [pageIndex]="0"
      [pageSize]="10"
      [pageSizeOptions]="[5, 10, 20]"
      aria-label="Select page">
  </mat-paginator>
</div>
