<div class="mat-elevation-z8">
  <table mat-table class="data-table" matSort aria-label="Elements" multiTemplateDataRows>

    <ng-container matColumnDef="ticketId">
      <th mat-header-cell class="header-text" *matHeaderCellDef="let displayedColumns">UPLAĆENI LISTIĆI</th>
      <td mat-cell class="header-cell" *matCellDef="let row">999-135-{{row.ticketId}}</td>
    </ng-container>
    <ng-container matColumnDef="oddsTotal">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell class="header-cell" *matCellDef="let row">Ukupna kvota: {{row.oddsTotal  | number : '.2-2'}}</td>
    </ng-container>
    <ng-container matColumnDef="betAmount">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell class="header-cell" *matCellDef="let row">Uplata: {{row.betAmount | number : '.2-2'}} kn</td>
    </ng-container>
    <ng-container matColumnDef="winningAmount">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell class="header-cell" *matCellDef="let row">Dobitak: {{row.winningAmount | number : '.2-2'}} kn</td>
    </ng-container> 
    <ng-container matColumnDef="ticketStatus">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell class="header-cell" *matCellDef="let row">
        <span *ngIf="row.ticketStatus === 1">Stanje listića: DOBITAN</span>
        <span *ngIf="row.ticketStatus === 0">Stanje listića: GUBITAN</span>
      </td>
    </ng-container>


    <!-- Expanded content -->
    <ng-container matColumnDef="matchDetailColumns">
      <td class="outer-table" mat-cell *matCellDef="let element" [attr.colspan]="displayedColumns.length">
        <div class="inner-table">
          <table #innerTables class="inner-table-elements" mat-table #innerSort="matSort" [dataSource]="element.matches" matSort>

            <ng-container matColumnDef="competition">
              <th mat-header-cell class="inner-table-header" *matHeaderCellDef mat-sort-header></th>
              <td mat-cell class="matchCell" *matCellDef="let element"> {{element.competition}} </td>
            </ng-container>
            <ng-container matColumnDef="homeTeam">
              <th mat-header-cell class="inner-table-header" *matHeaderCellDef mat-sort-header></th>
              <td mat-cell class="matchCell" *matCellDef="let element"> {{element.homeTeam}} </td>
            </ng-container>
            <ng-container matColumnDef="awayTeam">
              <th mat-header-cell class="inner-table-header" *matHeaderCellDef mat-sort-header></th>
              <td mat-cell class="matchCell" *matCellDef="let element"> {{element.awayTeam}} </td>
            </ng-container>
            <ng-container matColumnDef="bet">
              <th mat-header-cell class="inner-table-header" *matHeaderCellDef mat-sort-header></th>
              <td mat-cell class="matchCell" *matCellDef="let element"> {{element.bet}} </td>
            </ng-container>
            <ng-container matColumnDef="odd">
              <th mat-header-cell class="inner-table-header" *matHeaderCellDef mat-sort-header></th>
              <td mat-cell class="matchCell" *matCellDef="let element"> {{element.odd | number : '.2-2'}} </td>
            </ng-container>
            <ng-container matColumnDef="matchOutcome" >
              <th mat-header-cell class="inner-table-header" *matHeaderCellDef mat-sort-header></th>
              <td mat-cell class="matchCell" *matCellDef="let element">

                <button *ngIf="!element.matchOutcome" class="outcomePending"color="warn"><mat-icon>query_builder</mat-icon></button>
                <button *ngIf="element.bet.includes(element.matchOutcome)" class="outcomeSuccess"color="warn"><mat-icon>check_circle</mat-icon></button>
                <button *ngIf="element.matchOutcome && !element.bet.includes(element.matchOutcome)" class="outcomeFail"color="warn"><mat-icon>remove_circle</mat-icon></button>

              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="matchDetailColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: matchDetailColumns;"></tr>
          </table>
        </div>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let element; columns: displayedColumns;"></tr>
    <tr mat-row *matRowDef="let row; columns: ['matchDetailColumns']" class="example-detail-row"></tr>

  </table>

  <mat-paginator #paginator
      [length]="dataSource?.data?.length"
      [pageIndex]="0"
      [pageSize]="10"
      [pageSizeOptions]="[5, 10, 20]"
      aria-label="Select page">
  </mat-paginator>
</div>

