<div class="mat-elevation-z8">
  <table mat-table class="data-table" matSort aria-label="Elements">

    <ng-container matColumnDef="dateTime">
      <th mat-header-cell *matHeaderCellDef="let displayedColumns">Vrijeme</th>
      <td mat-cell class="dateTime" *matCellDef="let row">{{row.dateTime | date : 'short'}}</td>
    </ng-container>

    <ng-container matColumnDef="transaction">
      <th mat-header-cell *matHeaderCellDef>Transakcija</th>
      <td mat-cell class="transaction" *matCellDef="let row">{{row.transaction}}</td>
    </ng-container>

    <ng-container matColumnDef="toAccount">
      <th mat-header-cell *matHeaderCellDef>Na račun</th>
      <td mat-cell class="toAccount" *matCellDef="let row">{{row.toAccount | number : '.2-2'}} kn</td>
    </ng-container>

    <ng-container matColumnDef="fromAccount">
      <th mat-header-cell *matHeaderCellDef>S računa</th>
      <td mat-cell class="fromAccount" *matCellDef="let row">{{row.fromAccount | number : '.2-2'}} kn</td>
    </ng-container> 

    <ng-container matColumnDef="availableAmount">
      <th mat-header-cell *matHeaderCellDef>Trenutni iznos računa</th>
      <td mat-cell class="availableAmount" *matCellDef="let row">{{row.availableAmount | number : '.2-2'}} kn</td>
    </ng-container> 

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator #paginator
      [length]="dataSource?.data?.length"
      [pageIndex]="0"
      [pageSize]="10"
      [pageSizeOptions]="[5, 10, 20]"
      aria-label="Select page">
  </mat-paginator>
</div>
