.data-table{
  /* width: 100%; */
  width: 58%;
  margin: auto;
}

.mat-elevation-z8{
  /* margin: auto;
  margin-left: 15px;
  box-shadow: none; */
  margin: auto;
  margin-left: 445px;
  box-shadow: none;
  margin-right: -130px;
}
