<div class="ticket-container">
    <div class="tab">Listić</div>
    <div class="ticket-body-content">
        <div class="ticket-bet">Istra 1961 - HNK Gorica  1 - 2.80</div>
        <div class="bet-description">Osnovna ponuda</div>
    </div>
    <div class="ticket-summary">
        <table class="table">
            <tr><td>Tečaj</td></tr>
            <tr><td>2.80</td></tr>
       </table>
       <table class="table">
        <tr><td>Uplata(kn)</td></tr>
        <tr><input type="text" id="bet" name="name" required maxlength="6" size="10"></tr>
   </table>
       <table class="table">
        <tbody>
            <tr><td>Dobitak (kn)</td></tr>
            <tr><td>245 HRK</td></tr>
        </tbody>
      </table>
    </div>
    <div class="ticket-button">
        <button mat-stroked-button class="bet-button">Uplati</button>
    </div>
    <div class="ticket-footer">
        <div class="legal-info">Ulog: 4.75 kn, MT 5%: 0.25 kn</div>
    </div>
</div>
